<a href = "<%= comment_path(comment) %>"><%= comment.content %></a>
<br>Posted by <%= comment.author.username %>
<br>
<ul>
  <% comments_by_parent_id[comment.id].each do |child_comment| %>
    <li><%= render partial: "comments/comment",
      locals: {
        comment: child_comment,
        comments_by_parent_id: comments_by_parent_id } %></li>
  <% end %>
</ul>