<a href = "<%= comment_path(comment) %>"><%= comment.content %></a>
<br>Posted by <%= comment.author.username %>
<br>
<ul>
  <% all_comments.each do |child_comment| %>
    <% if child_comment.parent_comment_id == comment.id %>
      <li><%= render partial: "comments/comment",
        locals: {
          comment: child_comment,
          all_comments: all_comments } %></li>
    <% end %>
  <% end %>
</ul>