<a href = "<%= comment_path(comment) %>"><%= comment.content %></a>
<br>Posted by <%= comment.author.username %>
<br>
<ul>
  <% all_comments.each do |child_comment| %>
    <li><%= render partial: "comments/comment",
      locals: {
        comment: child_comment,
        all_comments: all_comments } %></li>
  <% end %>
</ul>